html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
    margin: 0;
    background-color: #E0F7FA;
    font-family: 'Times New Roman', Times, serif;

}

.body-top {
    width: 80%;
    border: 2px solid #007196;
    margin: auto;
    font-weight: bold;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    padding: 1em;
    color: white;
    background-color: #007196;
    overflow: auto;

}

#logo {
    max-width: 180px;
    max-height: 140px;
    float: left;
    margin-right: 20px;
}

#menu {
    background-color: #007196;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

}

a {
    color: white;
    border: solid white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    background-color: white;
    color: #007196;

}

.tour {
    border: solid #007196;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tour img {
    width: 250px;
    height: 170px;
    padding: 5px;
    object-fit: cover;

}

.tour a {
    background-color: #007196;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.tour a:hover {
    background-color: white;
    color: #007196;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: white;
    background-color: #007196;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer .col {
    margin: 10px;
    text-align: center;

}

.col-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    margin: auto;
    font-size: 64px;

}

@media screen and (max-width: 768px) {
    #logo {
        max-width: 100px;
        max-height: 70px;
        float: none;
        display: block;
        margin: auto;
    }

    h1 {
        font-size: 14px;
        margin-top: 10px;

    }
}
